<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" 
            data-widget-colorbutton="false" 
            data-widget-editbutton="false" 
            data-widget-togglebutton="false" 
            data-widget-deletebutton="false">
                <header>
                    <h2 class="font-md"><strong><%= row.title %></strong></h2>
                    <div class="widget-toolbar">
                        <input type="hidden" id="idx" value="<%=row.idx%>">
                        <a href="/board/content/form?idx=<%=row.idx%>" id="modifyBtn" class="btn btn-warning">수정</a>
                        <a href="#" id="deleteBtn" class="btn btn-danger">삭제</a>
                    </div>			 
                </header>
                <div>
                    <div class="jarviswidget-editbox">   
                    </div>
                    
                    <div class="widget-body">    
                        <div class="widget-body-toolbar text-center">
                            <% if (row.tag) { 
                                row.tag.split(',').forEach((element)=> {%>
                            <div class="badge bg-color-purple">
                                <%=element%>
                            </div>
                            <%  });%>
                            <%}%>
                        </div>
                        <%- row.content %>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script>
$(document).ready(function() { 
    $("#menu-board").addClass("active open");
    $("#menu-board-content").addClass("active");       
    pageSetUp();

    $("#deleteBtn").click((e) => {
        $.ajax({
                url: "/board/content/form"
                , method : "delete"
                , data : {
                    idx : $("#idx").val()
                }
                , success : (data) => {
                    location.href="/board/content";
                }
                , error : (err) => {
                    alert("error");
                }
            });
    });
});
</script>