<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor.min.css">
<link rel="stylesheet" href="/javascripts/edit/dist/tui-editor-contents.min.css">
<link rel="stylesheet" href="/javascripts/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/javascripts/highlightjs/styles/school-book.css">

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <button class="close" data-dismiss="alert">
                    ×
            </button>
            <h1 class="semi-bold">일감 편집</h1>
        <!-- <p> 
            프로젝트 등록
        </p> -->
        <!-- <p>
            ㅎ
        </p> -->
        </div>
    </div>
</div>

<section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>일감</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <form id="checkout-form" class="smart-form" novalidate="novalidate" method="post" action="/project/task/form">
                            <input type="hidden" name="idx" <% if (row){%>value="<%= row.idx %>" <%}%>>
                            <header>
                                
                            </header>

                            <fieldset>
                                <div class="row">
                                    <section class="col col-8">
                                        <label class="label">프로젝트</label>
                                        <label class="select">
                                            <select name="projectIdx" id="projectIdx" class="input-lg">
                                                <option value="0" selected="" disabled="">선택하기</option>
                                            </select> <i></i> 
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">버전</label>
                                        <label class="select">
                                            <select name="versionIdx" id="versionIdx">
                                                <option value="0" selected="" disabled="">선택하기</option>
                                            </select> <i></i> 
                                        </label>
                                    </section>
                                </div>
                                <section>
                                    <label class="label">제목</label>
                                    <label class="input">
                                        <input type="text" name="title" placeholder="제목" class="input-lg" <% if (row){%>value="<%= row.title %>" <%}%>>
                                    </label>
                                </section>
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="label">유형</label>
                                        <label class="select">
                                            <select name="type">
                                                <option value="0" selected="" disabled="">선택하기</option>
                                                <option value="1">기능</option>
                                                <option value="2">버그</option>
                                                <option value="4">개선</option>
                                            </select> <i></i>
                                        </label>
                                    </section>
                                    <section  class="col col-4">
                                        <label class="label">상태</label>
                                        <label class="select">
                                            <select name="status">
                                                <option value="0" selected="" disabled="">선택하기</option>
                                                <option value="1">신규</option>
                                                <option value="2">검토</option>
                                                <option value="3">진행</option>
                                                <option value="4">테스트</option>
                                                <option value="5">완료</option>
                                            </select> <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">우선순위</label>
                                        <label class="select">
                                            <select name="priority">
                                                <option value="0" selected="" disabled="">선택하기</option>
                                                <option value="1">낮음</option>
                                                <option value="2">중간</option>
                                                <option value="3">높음</option>
                                            </select> <i></i>
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">담당자</label>
                                        <label class="input">
                                            <input type="text" name="manager" class="input-sm" <% if (row){%>value="<%= row.manager %>" <%}%>>
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">진척도</label>
                                        <label class="select">
                                            <select name="progress">
                                                <option value="0">0</option>
                                                <option value="1">10</option>
                                                <option value="2">20</option>
                                                <option value="3">30</option>
                                                <option value="4">40</option>
                                                <option value="5">50</option>
                                                <option value="6">60</option>
                                                <option value="7">70</option>
                                                <option value="8">80</option>
                                                <option value="9">90</option>
                                                <option value="10">100</option>
                                            </select> <i></i>
                                        </label>
                                    </section>
                                </div>
                                
                                <div class="row">
                                    <section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-calendar"></i>
											<input type="text" name="start_time" id="startdate" placeholder="시작시간" <% if (row){%>value="<%= row.start_time %>" <%}%>>
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-calendar"></i>
											<input type="text" name="finish_time" id="finishdate" placeholder="완료기한" <% if (row){%>value="<%= row.finish_time %>" <%}%>>
										</label>
									</section>
                                </div>
                                
                                <section>
                                    <label class="label">설명</label>
                                    <label class="input">
                                        <div id="editSection"></div>
                                    </label>
                                </section>
                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    등록
                                </button>
                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                    뒤로
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script src="/javascripts/markdown-it/dist/markdown-it.min.js"></script>
<script src="/javascripts/to-mark/dist/to-mark.min.js"></script>
<script src="/javascripts/tui-code-snippet/dist/tui-code-snippet.min.js"></script>
<script src="/javascripts/codemirror/lib/codemirror.js"></script>
<script src="/javascripts/highlightjs/highlight.pack.min.js"></script>
<script src="/javascripts/squire-rte/build/squire-raw.js"></script>
<script src="/javascripts/edit/dist/tui-editor-Editor.min.js"></script>
<script src="/javascripts/showdown/showdown.min.js"></script>

<script>
function selectSelectedCheck(n, check) {
    $("select[name="+ n +"] option").each((i, val) => {
        if ($(val).val() == check) {
            $(val).attr("selected", true)
        }
    });
}

function versionSelectDraw(vidx, sel) {
    $.ajax({
        method: "get",
        url: "/project/version/listByProductIdx",
        data: {
            projectIdx: vidx
        }
    }).done((versions) => {
        $("#versionIdx")
            .html("")
            .append($('<option>', {
                value: 0,
                text: "선택하기"
            }))
        versions.rows.forEach((version)=> {
            let $option = $('<option>', { value: version.idx, text: version.title });
            if (sel && version.idx == sel) {
                $($option).attr("selected", true);
            }
            $("#versionIdx").append($option); 
        });
    }).fail((jqXHR1, textStatus1) => {
        alert("error = "+textStatus1)
    });
}

$(document).ready(function() {
    let editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        height: '600px'
    });

    <% if (row) {%>
        let projectIdx = <%=row.projectIdx%>;
        let type = <%=row.type%>;
        let status = <%=row.status%>;
        let priority = <%=row.priority%>;
        let progress = <%=row.progress%>;
        let versionIdx = <%=row.versionIdx%>;
       
        selectSelectedCheck('type', type);
        selectSelectedCheck('status', status);
        selectSelectedCheck('priority', priority);
        selectSelectedCheck('progress', progress);
        editor.setValue(`<%=row.description%>`);
    <%}%>;

    $.ajax({
        method: "get",
        url: "/project/list",  
    }).done((projects) => {
        projects.rows.forEach((project)=> {
            let $option = $('<option>', { value: project.idx, text: project.title });
            if (projectIdx && projectIdx == project.idx) {
                $($option).attr("selected", true);
                versionSelectDraw(projectIdx, versionIdx);
            }
            $("#projectIdx").append($option);   
        });
    }).fail((jqXHR, textStatus) => {
        alert("error = "+textStatus)
    });

    $("#projectIdx").on("change", (e) => {
        versionSelectDraw($("#projectIdx").val());
    });

    let errorClass = 'invalid';
    let errorElement = 'em';
    
    let $checkoutForm = $('#checkout-form').validate({
        errorClass		: errorClass,
        errorElement	: errorElement,
        highlight: function(element) {
            $(element).parent().removeClass('state-success').addClass("state-error");
            $(element).removeClass('valid');
        },
        unhighlight: function(element) {
            $(element).parent().removeClass("state-error").addClass('state-success');
            $(element).addClass('valid');
        },

    // Rules for form validation
        rules: {
            projectIdx: {
                required: false
            },
            versionIdx: {
                required: false
            },
            title: {
                required: true
            },
            type: {
                required: true
            },
            status: {
                required: true
            },
            start_time: {
                required: false
            },
            finish_time: {
                required: false
            },
            priority: {
                required: true
            },
            manager: {
                required: false
            },
            progress: {
                required: true
                //creditcard: true
                //email: true
                //digits: true
            }
        },

        // Messages for form validation
        messages: {
            // project: {
            //     required: 'Please enter your first name'
            // },
            title: {
                required: 'Please enter your last name'
            },
            type: {
                required: 'Please enter your phone number'
            },
            status: {
                required: 'Please select your country'
            },
            priority: {
                required: 'Please enter your city'
            },
            progress: {
                required: 'Please enter code',
                digits: 'Digits only please'
            }
        },

        // Do not change code below
        errorPlacement: function(error, element) {
            error.insertAfter(element.parent());
        },
        submitHandler: function() {
            let method = "put"
            if ($("input[name='idx']").val() == "") {
                method = "post"
            }

            $.ajax({
                method: method,
                url: "/project/task/form",
                data: {
                    idx: $("input[name='idx']").val()
                    , parentIdx: 0
                    , projectIdx: $("select[name='projectIdx'] option:selected").val()
                    , title: $("input[name='title']").val()
                    , description: editor.getValue()
                    , type: $("select[name='type'] option:selected").val()
                    , status: $("select[name='status'] option:selected").val()
                    , start_time: $("input[name='start_time']").val()
                    , finish_time: $("input[name='finish_time']").val()
                    , priority: $("select[name='priority'] option:selected").val()
                    , manager: $("input[name='manager']").val()
                    , progress: $("select[name='progress'] option:selected").val()
                    , versionIdx: $("select[name='versionIdx'] option:selected").val()
                }  
            }).done((projects) => {
                location.href="/project/task"
            }).fail((jqXHR, textStatus) => {
                alert("error = "+textStatus)
            });
            return false;
        }
    });

    $('#startdate').datepicker({
        dateFormat: 'yy.mm.dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onSelect: function(selectedDate) {
            $('#finishdate').datepicker('option', 'minDate', selectedDate);
        }
    });
    
    $('#finishdate').datepicker({
        dateFormat: 'yy.mm.dd',
        prevText: '<i class="fa fa-chevron-left"></i>',
        nextText: '<i class="fa fa-chevron-right"></i>',
        onSelect: function(selectedDate) {
            $('#startdate').datepicker('option', 'maxDate', selectedDate);
        }
    });
});
</script>